<script async src="https://www.googletagmanager.com/gtag/js?id=GTM-N9XP8LX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'GTM-N9XP8LX');

  // Get all buttons
  var buttons = document.querySelectorAll(".read-article");

  // Loop through buttons
  for (var i = 0; i < buttons.length; i++) {
    // Start timer
    var startTime = new Date();

    // Get article name
    var articleName = buttons[i].getAttribute("data-article-name");

    // Event listner for button click
    buttons[i].addEventListener("click", function() {
      // Stop timer
      var stopTime = new Date();
      var readingTime = (stopTime - startTime) / 1000 / 60;  // convert to minutes

      // Send event with reading time
      gtag('event', 'artikel', {
        'event_category': 'Article',
        'artikelnamn': articleName,
        'read_time': readingTime
      });
    });
  }
</script>
